/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;

}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
img{
	width:100%;
}
/*-- //Reset-Code --*/

/*-- banner --*/ 
.w3ls-banner{ 
	background:url(../images/b.jpg)no-repeat center 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
	position: relative;
}   
/*-- header --*/ 
h1 a.navbar-brand {
    font-size: 35px;
    color: #fff !important;
    padding: 0;
    height: inherit;
    margin: 10px 0;
    font-family: 'Cinzel', serif;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background:rgba(0, 0, 0, 0.35);
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: .6em 0;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
	font-family: 'Cinzel', serif;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #01bcfa !important;
    text-align: center !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    color: #000;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #01bcfa;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #01bcfa;
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 1em 0;
    background: rgba(25, 25, 25, 0.8);
} 
.navbar-nav > li > a {
    padding: 10px;
}
/*-- //header --*/ 
/*-- banner-text --*/ 
.banner-text {
    text-align: center;
    padding: 22em 0 17em;
}
.banner-text h2, .banner-text h3 {
    color: #fff;
    font-size: 4em;
    padding: .1em 0 .2em;
}
.banner-text h5 {
    font-size: 2.8em;
    color: #fff;
    margin-top: 1em;
    font-weight: 100;
    letter-spacing: 6px;
}
.banner-text p {
    width: 62%;
    color: #fff;
    margin: 1em auto;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 4px;
}
.banner-text h6 {
    font-size: 3em;
    color: #fff;
}
.banner-text h6 span {
    margin: 0 0.3em;
} 
/*-- //banner-text --*/ 

/*--banner-slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-35%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
	display:none;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
      left:51%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	    left: 46%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: -20%;
    left: 42%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
    margin: 0 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 6px;
    width: 18px;
    display: inline-block;
    background: #fff;
    border: 2px solid #fff;
}
.callbacks_here a:after{
	background: #01bcfa;
	border:2px solid #01bcfa;
}
/*----*/
.header {
    padding: 0 3em;
}
.w3l_banner_info {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    padding-top: 250px;
}
.slider_banner_info h4 {
    font-size: 40px;
    margin-bottom: .4em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 6px;
}
.slider_banner_info p {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
    line-height: 26px;
    font-family: 'PT Sans Narrow', serif;
}
.slider_banner_info {
	text-align:center;
    margin-top: 100px;
}
.banner-form-agileinfo img {
    vertical-align: middle;
    width: 100%;
}
/*-- //Slider --*/
/*-- //Banner-Slider --*/
/*--//banner--*/

/*-- about --*/ 
.w3ls-heading h3 {
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
	font-family: 'Cinzel', serif;
}
.about-left, .about-right,.gallery-grids,.contact-top-grids,.appointment-grid {
    margin-top: 50px;
}
.demo,.about,.vertical-tabs,.team,.laboratories,.blog,.contact,.appointment,.testimonials,.subscribe{
	padding:5em 0;
	border-bottom:1px solid #bbb;
}
.about-right h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f06a98;
}
.about-right p {
    color: #999;
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0;
}
a.w3more {
    font-size: 1em;
    color: #fff;
    background: rgba(233, 30, 99, 0.66);
    border: 1px solid rgba(233, 30, 99, 0.66);
    padding: .5em 0.8em;
    margin-top: 1em;
    display: inline-block;
}
a.w3more:hover {
    border: 1px solid rgba(233, 30, 99, 0.66);
	background:transparent;
    color: rgba(233, 30, 99, 0.66);
}
/*-- //about --*/

/*-- hover-effect --*/  
.boxw3-agile {
    overflow: hidden;
    position: relative;
}
.w3labout-img img.img-responsive {
    width: 100%;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
/* agile-caption Common Style */
.boxw3-agile .agile-caption {
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left:-100%;
	top:0;
	width: 100%;
	height: 100%;
	padding: 24% 15%;
	text-align: center;
}
/** agile-caption 6: Scale **/
.boxw3-agile .agile-caption h3,.boxw3-agile .agile-caption p {
	position: relative;
	left:-380px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}
.boxw3-agile .agile-caption h3 {
    font-size: 30px;
    text-transform: uppercase; 
    margin: 0 auto 0.5em;
    font-weight: 300;
    font-family: 'Cinzel', serif;
}
.boxw3-agile .agile-caption p {
    line-height: 2em;
    color: #d5d3d3;
    font-weight: 300;
}
.boxw3-agile .agile-caption h3 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;	
	transition-delay: 300ms;
}

.boxw3-agile .agile-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
} 
/** Fade agile-caption :hover Behaviour **/
.boxw3-agile:hover .agile-caption {
	opacity: 1;
	background-color: rgba(0,0,0,0.8);
	left:0;
}
/** Scale agile-caption :hover Behaviour **/
.boxw3-agile:hover img{
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.boxw3-agile:hover .agile-caption h3,.boxw3-agile:hover .agile-caption p {
	-moz-transform: translateX(380px);
	-o-transform: translateX(380px);
	-webkit-transform: translateX(380px);
	transform: translateX(380px);
}



/*-- vertical-tabs --*/
.list-group-item {
    padding: 15px 48px;
    font-size: 18px;
	font-family: 'Cinzel', serif;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #01bcfa;
    color: #fff;
}
a.list-group-item {
    color: rgba(233, 30, 99, 0.66);
    font-weight: 600;
}
/*-- //vertical-tabs --*/


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  margin-top:50px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
    display: inline-flex;
}
.list-group-item:first-child {
    border-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {
    color: #F1C616;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #01bcfa;
    color: #ffffff;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-color: #01bcfa;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 49%;
    transform: rotate(90deg);
    top: 11%;
    margin-top: 42px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #01bcfa;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


/*-- services --*/
.ser-img {
	float:left;
	width:35%;
	margin-right:5%;
}
.ser-img img {
	width:100%;
}
.ser-info {
	float:right;
	width:60%;
}
.ser-info h3 {
    font-size: 23px;
    color: #000000;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.ser-info p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.ser-info a {
    margin-top: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;    
	font-size: 1em;
    border: 1px solid rgba(233, 30, 99, 0.66);
    background: rgba(233, 30, 99, 0.66);
    padding: .5em 0.8em;
    margin-top: .5em;
    display: inline-block;
}
.ser-info a:hover {
    color: rgba(233, 30, 99, 0.66);
    border: 1px solid rgba(233, 30, 99, 0.66);
    background: transparent;
}
/*-- //services --*/
/*-- //tabs --*/


/*-- team --*/
.team h3, .testimonials h3 {
    color: #fff;
}
.team h3:before{
	width:20%;
}
.team h3:after{
	width:5%;
}
.agile_team_grids{
	margin:3em 0 0;
}
div#team {
    background: url(../images/22.jpg) no-repeat 0px 0px;
    background-size: cover;
	background-attachment:fixed;
}
.team h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.agile_team_grid1{
	padding: 1em;
    border: 4px double #99def5;
    text-align: center;
}
.agile_team_grid1 p {
    color: #d2d2d2;
    font-size: 15px;
    letter-spacing: 2px;
}
.agile_team_grid_main{
	position:relative;
	overflow:hidden;
}
.team img.img-responsive {
    background: #009abf;
}
.agile_team_grid_main .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(233, 30, 99, 0.66);
    bottom: 0%;
    position: absolute;
    padding:1em 0 .6em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: center;
}
.agile_team_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
ul.social-icons li{
	display:inline-block;
}
.icon-button {
    background-color: #D9D9D9;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    line-height: 2rem;
    margin: 0 3px;
    position: relative;
    text-align: center;
    width: 3rem;
}
.icon-button i {
    background: none;
    color: white;
    height: 3rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    top: 0;
    width: 3rem;
    z-index: 10;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    position: absolute;
    top:0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.twitter span{
    background-color:#3b5998;
}
.google span{
	background-color:#55acee;
}
.v span{
	background-color:#dd4b39;
}
.pinterest span{
	background-color:#833ab4;
}
.icon-button:hover span {
    width: 3rem;
    height: 3rem;
    margin: 0;
}
ul.social-icons li .icon-button .icon-twitter{
    background:url(../images/img-sp.png) no-repeat -4px -35px;
    display: block;
}
ul.social-icons li .icon-button .icon-twitter:hover{
    background-position:-4px -74px;
}
ul.social-icons li .icon-button .icon-google{
    background:url(../images/img-sp.png) no-repeat -42px -38px;
    display: block;
}
ul.social-icons li .icon-button .icon-google:hover{
    background-position:-42px -74px;
}
ul.social-icons li .icon-button .icon-v{
    background:url(../images/img-sp.png) no-repeat -79px -36px;
    display: block;
}
ul.social-icons li .icon-button .icon-v:hover{
    background-position:-79px -71px;
}
ul.social-icons li .icon-button .pinterest{
    background:url(../images/img-sp.png) no-repeat -125px -36px;
    display: block;
}
ul.social-icons li .icon-button .pinterest:hover{
    background-position:-125px -70px;
}
/*-- team--*/

/*-- gallery --*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 7em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h2 span {
	font-weight: 800;
}


/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}


figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/*-- //gallery --*/

/*-- testimonials --*/
section.slider {
    padding: 0 !important;
}
.w3_agile_head{
	font-size:2.5em;
	color:#212121;
	text-align:center;
}
p.augue_agile{
	color:#999;
	text-align:center;
	position:relative;
	font-weight: 500 !important;
}
p.augue_agile:before,p.augue_agile:after{
	content: '';
    background: #1bd6f2;
    height: 2px;
    width: 10%;
    position: absolute;
    top: 45%;
}
p.augue_agile:before{
	left:25%;
}
p.augue_agile:after{
	right:25%;
}
.testimonial_grids{
	margin:3em 0 0;
}
.w3_agileits_testimonial_grid{
	width:65%;
	margin:0 auto;
	text-align:center;
}
.w3_agileits_testimonial_grid p{
	color:#dadada;
	line-height:27px;
	margin-bottom:1em;
}
.w3_agileits_testimonial_grid p i{
	font-size: 20px;
    color: #1bd6f2;
    padding: .4em;
    margin-right: 0.5em;
}
.w3_agileits_testimonial_grids {
    margin: 3em 0 0;
}
.w3_agileits_testimonial_grid img {
    margin: 0 auto;
}
.w3_agileits_testimonial_grid h4 {
    font-size: 20px;
    color: #fff;
    margin: 20px 0 0;
    text-transform: uppercase;
}
.w3_agileits_testimonial_grid h4 span {
    display: block;
    margin-top: .5em;
    font-size: 17px;
    text-transform: capitalize;
    color: #01bcfa;
    letter-spacing: 1px;
}
.team .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: auto;
}
.testimonials .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img ,.blog .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {

    display: block;
    width: auto;
    height: auto;
}
div#testimonials {
    background: url(../images/test-1.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}
/*-- //testimonials --*/

/*-- classes --*/ /* blog */
.w3_agile_class_grid{
	padding:0 1em 2em;
}
.agile_class{
	padding:10px 30px;
	background: #01bcfa;
	color:#fff;
	font-size:1em;
	text-decoration:none;
}
.agile_class:hover {
    background: rgb(233, 30, 99);
    color: #fff;
}
.w3_agileits_class_grid{
	padding: 1.5em 1.5em 3.5em;
    border: 1px solid #e5e5e5;
    text-align: center;
    position: relative;
}
.w3_agileits_class_grid p {
    color: #999;
    line-height: 26px;
    font-size: 14px;
}
.w3_agileits_class_grid h4{
	margin:1em 0;
}
.w3_agileits_class_grid h4 a{
	font-size: 1.1em;
    text-transform: capitalize;
    color: #212121;
    text-decoration: none;
}
.w3_agileits_class_grid h4 a:hover,.w3_agile_class_grid:hover .w3_agileits_class_grid h4 a{
	color:#58d3f3;
}
.w3_agileits_class_grid h5{
	font-size: 18px;
	color: rgba(233, 30, 99, 0.66);
}
.w3_agileits_class_grid_pos{
	position: absolute;
    width: 100%;
    bottom: -18%;
    left: 0;
}
.w3_agileits_class_grid_pos img {
    border-radius: 50%;
}
.w3_agileits_class_grid_pos img{
	margin:0 auto;
}
.agileits_w3layouts_class_pos{
	position:absolute;
	top:5%;
	right:10%;
}
.agileits_w3layouts_class_pos ul li{
	display:inline-block;
	color:#fff;
	font-size:1em;
}
.agileits_w3layouts_class_pos ul li i{
	padding-right:1em;
	color: #ee5388;
}
.agileits_w3layouts_class_pos ul li a{
	color:#fff;
	text-decoration:none;
}
.agileits_w3layouts_class_pos ul li a:hover{
	color:#58d3f3;
}
.agileits_w3layouts_class_pos ul li:nth-child(2){
	margin:0 1.5em;
}
.w3layouts_classes_grids{
	margin:6em 0 0;
}
/*-- //classes --*/	/* //blog */

/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	padding:0 0 .5em;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*-- Nav --*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:rgba(233, 30, 99, 0.76);
    top: -13% !important;
    border: 1px solid rgba(233, 30, 99, 0.76);
    font-family: FontAwesome;
    text-align: center;
    line-height: 2.8em;
    color: #fff;
}
.nbs-flexisel-nav-left{
	left:1.4%;
}
.nbs-flexisel-nav-left:before {
	content:"\f053";
}
.nbs-flexisel-nav-right{
	right: 91.2%;
}
.nbs-flexisel-nav-right:after {
	content:"\f054";
}
.nbs-flexisel-nav-left:hover,.nbs-flexisel-nav-right:hover{
	background:#58d3f3;
	color:#fff;
	border-color:#58d3f3;
}
/*--//flexisel--*/

/*-- team --*/
.w3layouts_team_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_team_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_team_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3_agile_team_grid:hover .w3layouts_team_grid_pos,.w3layouts_gallery_grid:hover .w3layouts_team_grid_pos,
.w3_agile_class_grid:hover .w3layouts_team_grid_pos{
    opacity:1;
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3_agile_team_grid:hover .wthree_text,.w3layouts_gallery_grid:hover .wthree_text,
.w3_agile_class_grid:hover .wthree_text{
    opacity: 1;
	-webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 0;
	    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.agileits_social_list li{
	display: inline-block;
}
.agileits_social_list li:nth-child(2){
    margin:0 1.5em;
}
.agileits_social_list li a{
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agileits_social_list li a i{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	line-height: 2.5em;
}
.agileits_social_list li a:hover{
	background:#fff;
}
a.w3_agile_facebook,.w3_facebook{
	background:#3b5998;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter,.w3ls_twitter{
	background:#1da1f2;
}
a.w3_agile_dribble,.w3l_dribbble{
	background:#ea4c89;
}
a.w3_agile_vimeo{
	background:#1ab7ea;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
.agile_social_icons_banner {
    float: right;
    margin:1.6em 2em 0 0;
}
.w3_agile_team_grid{
	text-align:center;
}
.w3_agile_team_grid h4{
	font-size: 1.5em;
    color: #212121;
    margin: 1.5em 0 .2em;
}
.w3_agile_team_grid p{
	color:#58d3f3;
}
/*-- //team --*/

/*-- contact --*/
.left-top h4,.left-bottom h4,.working-grid h4,.working-grid1 h4,.inner h4 {
    font-size: 30px;
    text-align: center;
    color: #fff;
	margin-bottom:21px;
    text-transform: capitalize;
}
.left-bottom h4{
	margin-top:20px;
}

.left-top p {
    margin: 15px 0;
    letter-spacing: 2px;
    color: #dadada;
    font-size: 14px;
}
p strong {
    text-transform: capitalize;
    margin-right: 35px;
    letter-spacing: 0px;
    color: #fff;
    font-weight: normal;
}
.left-top a {
    color: #d1d1d1;
}
.left-top a:hover {
    color: #01bcfa;
}
span.dot {
    margin-left: 11px;
}
span.dot1 {
    margin-left: 62px;
}
span.dot2 {
    margin-left: 72px;
}
span.dot3 {
    margin-left: 77px;
}
.left-top i.fa {
    font-size: 17px;
    margin-right: 15px;
    color: #01bcfa;
}
i.fa.fa-map-marker {
    margin-right: 21px;
}
i.fa.fa-phone {
    margin-right: 18px;
}
iframe {
    border: none;
    width: 100%;
    height: 500px;
}

.right-w3l.fotw3 {
    width: 100%;
    text-align: center;
}
.ftr-grid ul {
    padding: 0em;
    list-style: none;
}
.ftr-grid ul li {
    font-size: 0.95em;
    color: #fff;
    line-height: 1.8em;
}
ul.top-links li {
    margin-left: 5px;
    display: inline-block;
}
.right-w3l ul.top-links li a i.fa {
    width: 37px;
    height: 37px;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.fa-facebook:before {
    content: "\f09a";
}
i.fa.fa-facebook {
    background: #3b5998;
    color: #fff;
}
i.fa.fa-twitter {
    background: #1da1f2;
    color: #fff;
}
i.fa.fa-google-plus {
    background: #dd4b39;
    color: #fff;
}
i.fa.fa-linkedin{
    background: #00a0dc;
    color: #fff;
}
.left-bottom p {
    color: #dadada;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.contact-left- {
    background: url(../images/c1.jpg) 0px 0px;
    padding: 50px 40px 65px;
    background-size: cover;
    height: 500px;
}
.left-top {
    margin-bottom: 40px;
}
.contact-top-grids {
    margin-bottom: 40px;
}
/*-- //contact --*/

/*-- contact-form --*/ 
 
.contact-left.agileits-w3layouts {
    padding: 0;
} 
.contact input[type="text"],.contact input[type="email"] {
    width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 1em 1em;
    margin-bottom: 1em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: 1em .8em;
    border: solid 1px #999;
    min-height: 12.5em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: .5em 2em;
    margin-top: 12px;
    font-size: 1em;
    -webkit-appearance: none;
    background: #01bcfa;
    border: 1px solid #01bcfa;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    /* width: 100%; */
    float: right;
    letter-spacing: 1px;
}
.contact input[type="text"]:focus,.contact input[type="email"]:focus,.contact textarea:focus {
    border-color: #00b8ce;
}
.contact input[type="submit"]:hover {
    background: none;
    color: #01bcfa;
    border-color: #01bcfa;
}
::-webkit-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
:-ms-input-placeholder {  
	color:#999 !important;
} 
/*-- //contact form--*/ 

/* modal */
.agileits-w3layouts-info p {
    color: #999;
    font-size: 14px;
    line-height: 24px;
	margin-top:20px;
}
.modal-title {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-family: 'Cinzel', serif;
}
.modal-content{
	border-radius:0px;
}
/* //modal */

/* line */
.line {
    border-top: 2px solid #E91E63;
    width: 5%;
    margin: 38px auto 0;
    transform: rotate(90deg);
}
/* //line */

/* appointmnet form */
.appointment input[type="text"],.appointment input[type="email"] ,.appointment input[type="tel"]  {
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    margin: 0 0 15px;
    outline: none;
    font-size: 13px;
    color: #9C9C9C;
    font-weight: 500;
    padding: 8px 13px 8px 13px;
}
.appointment textarea {
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    display: block;
    height: 120px;
    outline: none;
    font-size: 13px;
    color: #9B9B9C;
    font-weight: 500;
    margin: 0 0 15px;
    padding: 10px 15px 10px 15px;
}
.appointment input[type="submit"] {
    outline: none;
    transition: .5s all;
    margin-left: 5px;
    color: #fff;
    border: 1px solid rgba(233, 30, 99, 0.66);
    font-size: 15px;
    text-transform: capitalize;
    background: rgba(233, 30, 99, 0.66);
    padding: .5em .8em;
    text-decoration: none;
    letter-spacing: 1px;
}
.appointment input[type="submit"]:hover{
	color: rgba(233, 30, 99, 0.66);
    border: 1px solid rgba(233, 30, 99, 0.66);
    background: transparent;
}
.inner {
    border: 1px solid rgba(233, 30, 99, 0.66);
    padding: 20px;
    height: 480px;
}
.working-grid span {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'PT Sans Narrow', sans-serif;
}
.working-grid span.span1 {
    float: right;
    font-weight: normal;
    color: inherit;
}


.working-grid1 {
    padding-bottom: 24px;
}
.working-grid h4,.working-grid1 h4,.inner h4 {
    color: #01bcfa;
}
.working-grid p {
    margin: 20px 0;
    padding-bottom: 10px;
    color: #a1a1a1;
    border-bottom: 1px solid #e4e4e4;
}
.working-grid i.fa.fa-calendar {
    margin-right: 10px;
}
.working-grid1 p {
    font-size: 15px;
    line-height: 24px;
    color: #999;
    margin-bottom: 10px;
}
.working-grid1 i.fa.fa-pencil {
    margin-right: 15px;
    color: #999;
}
.working-grid1 h5 {
    color: #000;
    font-size: 19px;
    margin-bottom: 17px;
    text-transform: uppercase;
}
/* //appointmnet form */

/* to-top */
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 0px 0px;
}
/* //to-top */

/* copyright */
.copyright-agile {
    text-align: center;
    padding: 15px 0px;
    background: #000;
}
.copyright-agile p {
    color: #fff;
    letter-spacing: 1px;
}
.copyright-agile a {
    color: #ea6a98;
}
.copyright-agile a:hover {
    color: #fff;
}
/* //copyright */

.resp-tabs-list li{
    padding: 15px 48px;
    font-size: 18px;
    font-family: 'Cinzel', serif;
}
.resp-tabs-list{
	color: rgba(233, 30, 99, 0.66);
    font-weight: 600;
	}
.resp-tab-active{
    border: 1px solid #c1c1c1;
    margin-bottom: -1px !important;
    /* padding: 12px 14px 14px 14px !important; */
    background: #01bcfa;
    color: #fff;
}
li.list-group-item.text-center.resp-tab-item.resp-tab-active:after {
    content: '';
    position: absolute;
    left: 49%;
    transform: rotate(90deg);
    top: 11%;
    margin-top: 42px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #01bcfa;
}
ul.resp-tabs-list {
    margin-top: 50px;
}
/* responsive-design */

@media (max-width:384px) {
	
}

@media (max-width:1080px) {
	.slider_banner_info h4 {
		letter-spacing: 5px;
	}
	.callbacks_tabs {
		bottom: -6%;
		left: 34%;
	}
	.slider_banner_info {
		margin-top: 50px;
	}
	.w3l_banner_info {
		padding-top: 200px;
	}
	.line {
		margin: 26px auto 0;
	}
	.about, .demo, .vertical-tabs, .team, .laboratories, .blog, .contact, .appointment, .testimonials, .subscribe {
		padding: 3em 0;
	}
	.list-group-item {
		padding: 15px 31px;
		font-size: 17px;
	}
	.ser-info h3 {
		font-size: 20px;
	}
	.ser-info p {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.nbs-flexisel-nav-right {
		right: 89%;
	}
	.resp-tabs-list li {
		padding: 15px 35px;
		font-size: 17px;
	}
	
}
@media (max-width:1024px) {
	.slider_banner_info h4 {
		font-size: 38px;
	}
	h1 a.navbar-brand {
		font-size: 32px;
	}
	.navbar-nav > li > a {
		padding: 9px;
	}
	.about-right p {
		margin: 15px 0;
	}
	div.bhoechie-tab-menu div.list-group>a.active:after {
		top: 10%;
	}
	.working-grid1 h5 {
		font-size: 17px;
	}
	.w3_agileits_class_grid_pos {
		bottom: -16%;
	}
	.w3_agileits_class_grid h4 {
		margin: .8em 0;
	}
	.line {
		margin: 24px auto 0;
	}
	li.list-group-item.text-center.resp-tab-item.resp-tab-active:after {
		top: 7%;
	}
}
@media (max-width:991px) {
	.navbar-default .navbar-nav > li > a {
		font-size: 1em;
		letter-spacing: 0px;
	}
	h1 a.navbar-brand {
		font-size: 26px;
	}
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	.banner-form-agileinfo {
		width: 40%;
		float: left;
	}
	.w3l_banner_info .slider {
		width: 60%;
		float: left;
		padding:0;
	}
	.about-left,.about-right {
		width: 50%;
		float: left;
	}
	.about-right h2 {
		font-size: 27px;
	}
	.about-right p {
		margin: 10px 0;
		line-height: 26px;
	}
	.resp-tabs-list li {
		padding: 10px 20px;
		font-size: 17px;
		font-family: 'Cinzel', serif;
	}
	li.list-group-item.text-center.resp-tab-item.resp-tab-active:after {
		top: -14%;
	}
	.agile_team_grid {
		width: 25%;
		float: left;
	}
	.agile_team_grid {
		width: 40%;
		float: left;
		margin-bottom: 30px;
	}
	.appointmnet-left,.appointmnet-middle,.appointmnet-right {
		width: 50%;
		float: left;
		margin-bottom:20px;
	}
	.gallery-grid {
		width: 25%;
		float: left;
	}
	.w3_agileits_testimonial_grid {
		width: 80%;
	}
	.nbs-flexisel-nav-right {
		right: 87%;
	}
	.w3_agileits_class_grid p {
		font-size: 13px;
		line-height:24px;
	}
	.agileits_w3layouts_class_pos ul li i {
		padding-right: .3em;
	}
	.contact-left- {
		margin-bottom: 30px;
		height:auto;
	}
	.contact-right{
		padding:0;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 96%;
	}
	iframe {
		height: 400px;
	}
	.appointmnet-right {
		margin-left: 25%;
	}
}
@media (max-width:900px) {
	.slider_banner_info h4 {
		font-size: 36px;
		letter-spacing: 4px;
	}	
	.slider_banner_info p {
		font-size: 16px;
	}
	ul.resp-tabs-list {
		margin-top: 20px;
	}
	.about, .vertical-tabs, .team, .laboratories, .blog, .contact, .appointment, .testimonials, .subscribe {
		padding: 2em 0;
	}
	.line {
		margin: 21px auto 0;
	}
}
@media (max-width:800px) {
	.slider_banner_info h4 {
		font-size: 33px;
		letter-spacing: 3px;
	}
	.w3l_banner_info {
		width: 90%;
	}
	.callbacks_tabs {
		bottom: -12%;
		left: 26%;
	}
	.left-top h4, .left-bottom h4, .working-grid h4, .working-grid1 h4, .inner h4 {
		font-size: 26px;
		margin-bottom: 15px;
	}
	.line {
		margin: 18px auto 0;
	}
}
@media (max-width:768px) {
	.w3l_banner_info {
		width: 95%;
	}
	h2.resp-accordion {
		border-top: 1px solid #01bcfa !important;
		background: #01bcfa;
		color: #fff;
		text-align: center;
		font-size: 20px;
		font-family: 'cinzel',sans-serif;
	}
	h2.resp-tab-active {
		background: #01bcfa !important;
	}
	.resp-arrow{
		border-top: 12px solid #fff;
	}
	.w3ls-heading h3 {
		font-size: 30px;
	}
	.resp-tabs-container {
		margin-top: 20px;
	}
	.gallery-grid {
		width: 33.33%;
		float: left;
	}
	.appointmnet-right .inner {
		height: auto;
	}
	.agile_team_grid {
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}
	.agile_team_grids {
		margin: 3em auto 0;
		width: 80%;
	}
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.w3_agile_class_grid {
		padding: 0 .5em 2em;
	}
}
@media (max-width:736px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 30px;
	}
	.banner-form-agileinfo {
		width: 38%;
	}
	.w3l_banner_info .slider {
		width: 62%;
	}
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}
	.navbar-nav {
		margin: 7.5px -15px;
		background: #000;
	}
	.inner {
		height: 460px;
	}
	.w3layouts_classes_grids {
		margin: 4em 0 0;
	}
	.w3_agileits_class_grid {
		padding: 0.5em 0.5em 3.5em;
	}
	.w3_agileits_class_grid h4 a {
		font-size: 1em;
	}
	iframe {
		height: 350px;
	}
	.contact-right.agileits-w3layouts {
		width: 44%;
		float: left;
	}
	.contact-left.agileits-w3layouts {
		width: 55%;
		float: left;
	}
	.agileits_w3layouts_class_pos ul li i {
		padding-right: .15em;
	}
	.agile_class {
		font-size: .9em;
	}
	.working-grid1 i.fa.fa-pencil {
		margin-right: 10px;
	}
	.navbar-toggle{
		margin-bottom:0px;
	}
	h1 a.navbar-brand {
		font-size: 28px;
	}
	.slider_banner_info p {
		font-size: 15px;
	}
	.callbacks_tabs {
		bottom: -2%;
		left: 28%;
	}
	.about-right h2 {
		font-size: 25px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff !important;
		text-align: center !important;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #01bcfa !important;
		text-align: center !important;
	}
}
@media (max-width:667px) {
	.w3l_banner_info {
		width: 100%;
	}
	.w3l_banner_info {
		padding-top: 140px;
	}
	.slider_banner_info h4 {
		margin-bottom: 0.2em;
	}
	.callbacks_tabs {
		bottom: 5%;
	}
	.about-left, .about-right, .gallery-grids, .contact-top-grids, .appointment-grid {
		margin-top: 30px;
	}
	.about-right h2 {
		font-size: 22px;
	}
	.agile_team_grid {
		width: 50%;
	}
	.agile_team_grid1 {
		padding: .5em;
	}
	.team h4 {
		margin-bottom: 5px;
	}
	.nbs-flexisel-nav-right {
		right: 85%;
	}
	.about-right h2 {
		font-size: 21px;
		letter-spacing: 0;
	}
	.boxw3-agile .agile-caption h3 {
		font-size: 20px;
		margin: 0 auto 0.3em;
	}
	.boxw3-agile .agile-caption{
		padding: 10%;
	}
	.boxw3-agile .agile-caption p {
		line-height: 24px;
	}
	.ser-img {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.ser-info {
		float: none;
		width: 100%;
	}
	.resp-tab-content {
		display: none;
		padding: 10px;
	}
	.line {
		margin: 15px auto 0;
	}
	.agileits_w3layouts_class_pos ul li:nth-child(2) {
		margin: 0 1em;
	}
}
@media (max-width:600px) {
	.slider_banner_info h4 {
		font-size: 32px;
		letter-spacing: 1px;
	}
	.line {
		margin: 14px auto 0;
	}
	.w3_agileits_testimonial_grids {
		margin: 1em 0 0;
	}
	.nbs-flexisel-nav-right {
		right: 83%;
	}
	.left-top h4, .left-bottom h4, .working-grid h4, .working-grid1 h4, .inner h4 {
		font-size: 24px;
		margin-bottom: 14px;
	}
	.left-top p {
		letter-spacing: 1px;
	}
	.contact-left- {
		padding: 40px;
	}
	iframe {
		height: 300px;
	}
	.navbar-toggle {
		margin: 7px 15px 5px;
	}
	h1 a.navbar-brand {
		margin: 13px 0px;
	}
	.slider_banner_info {
		margin-top: 20px;
	}
	.agileits_w3layouts_class_pos ul li:nth-child(2) {
		margin: 0 1.5em;
	}
}
@media (max-width:568px) {
	.slider_banner_info h4 {
		font-size: 27px;
		letter-spacing: 1px;
	}
	.callbacks_tabs a:after {
		height: 3px;
		width: 15px;
	}
	.contact input[type="text"], .contact input[type="email"] {
		padding: .8em;
	}
	.contact textarea {
		min-height: 11.5em;
	}
	.about-left, .about-right {
		width: 100%;
		float: none;
	}
	.boxw3-agile .agile-caption h3 {
		font-size: 30px;
		margin: 0 auto 0.5em;
	}
	.boxw3-agile .agile-caption {
		padding: 17% 15%;
	}
	.appointmnet-left, .appointmnet-middle, .appointmnet-right {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.appointmnet-left .inner {
		height: auto;
	}
	.working-grid p {
		margin: 15px 0;
		padding-bottom: 5px;
	}
	.working-grid1 {
		padding-bottom: 0;
	}
	.gallery-grid {
		width: 100%;
		float: none;
	}
	.flex-direction-nav .flex-prev {
		bottom: 48%;
	}
	.appointmnet-right {
		margin-left: 0;
	}
}

@media (max-width:480px) {
	.agile_team_grids {
		margin: 3em auto 0;
		width: 95%;
	}
	.nbs-flexisel-nav-right {
		right: 78%;
	}
	.w3l_banner_info .slider {
		width: 100%;
		float: none;
		padding: 0 15px;
	}
	.w3l_banner_info {
		width: 100%;
	}
	.banner-form-agileinfo {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	
	.slider_banner_info {
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.callbacks_tabs {
		bottom: 16%;
		left: 30%;
	}
}
@media (max-width:440px) {
	.w3l_banner_info .slider {
		width: 100%;
		float: none;
	}
	.w3l_banner_info {
		width: 100%;
	}
	.w3l_banner_info {
		padding-top: 80px;
	}
	.banner-form-agileinfo {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.slider_banner_info {
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.callbacks_tabs {
		bottom: 16%;
		left: 30%;
	}
	.agile_team_grid1 p {
		letter-spacing: 1px;
	}
	.w3_agileits_testimonial_grid {
		width: 90%;
	}
	.nbs-flexisel-nav-right {
		right: 77%;
	}
	.left-top i.fa {
		margin-right: 10px;
	}
	p strong {
		margin-right: 20px;
	}
	i.fa.fa-map-marker {
		margin-right: 17px;
	}
	i.fa.fa-phone {
		margin-right: 12px;
	}
	.flex-direction-nav .flex-prev {
		left: 0.3%;
		bottom: 49%;
	}
	.contact-left.agileits-w3layouts {
		width: 100%;
		float: none;
	}
	.contact-right.agileits-w3layouts {
		width: 100%;
		float: none;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 100%;
	}
}
@media (max-width:414px) {
	.slider_banner_info p {
		font-size: 15px;
	}
	.navbar-toggle {
		margin: 5px 15px 0;
	}
	.line {
		margin: 15px auto 0;
		width: 8%;
	}
	p strong {
		margin-right: 6px;
	}
	.contact input[type="text"], .contact input[type="email"],.contact textarea {
		padding: .7em;
		font-size: .85em;
	}
	.w3_agileits_class_grid_pos {
		bottom: -21%;
	}
	.copyright-agile {
		padding: 10px;
	}
	.agile_team_grid {
		width: 100%;
		float:none;
	}
	.flex-direction-nav .flex-prev {
		left: 0.3%;
		bottom: 20%;
	}
	.nbs-flexisel-nav-right {
		right: 75%;
	}
	.contact-left- {
		padding: 30px;
	}
}
@media (max-width:384px) {
	.slider_banner_info p {
		font-size: 15px;
		letter-spacing: 2px;
	}
	.boxw3-agile .agile-caption h3 {
		font-size: 28px;
		margin: 0 auto 0.5em;
	}
	.agile_team_grid {
		width: 100%;
		float: none;
	}
	.w3ls-heading h3 {
		font-size: 26px;
	}
	.flex-direction-nav .flex-prev {
		left: 0%;
		bottom: 21%;
	}
	.nbs-flexisel-nav-right {
		right: 74%;
	}
	.contact-left- {
		padding: 20px;
	}
	p strong {
		margin-right: 15px;
	}
	.left-top {
		margin-bottom: 16px;
	}
	span.dot3 {
		margin-left: 60px;
	}
}
@media (max-width:375px) {
	.boxw3-agile .agile-caption h3 {
		font-size: 26px;
		margin: 0 auto 0.4em;
	}
	.nbs-flexisel-nav-right {
		right: 72%;
	}
	p strong {
		margin-right: 3px;
	}
	span.dot {
		margin-left: 2px;
	}
	span.dot1 {
		margin-left: 66px;
	}
	span.dot2 {
		margin-left: 64px;
	}
	.left-top i.fa {
		margin-right: 5px;
	}
	span.dot3 {
		margin-left: 65px;
	}
	.agile_team_grids {
		margin: 2em auto 0;
		width: 100%;
	}
	.flex-direction-nav .flex-prev {
		left: 0%;
		bottom: 20%;
	}
}
@media (max-width:320px) {
	.slider_banner_info p {
		font-size: 14px;
		letter-spacing: 2px;
	}
	.boxw3-agile .agile-caption h3 {
		font-size: 22px;
		margin: 0 auto 0.2em;
	}
	.boxw3-agile .agile-caption {
		padding: 9% 7%;
	}
	.line {
		margin: 13px auto 0;
		width: 8%;
	}
	.inner {
		padding: 10px;
	}
	.nbs-flexisel-nav-right {
		right: 67%;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 13px;
		font-size: 20px;
	}
	.navbar-toggle {
		padding: 6px 7px;
	}
	.banner-form-agileinfo {
		width: 80%;
	}
	.callbacks_tabs {
		bottom: 12%;
		left: 31%;
	}
	.callbacks_tabs li {
		margin: 0 0px;
	}
	a.w3more {
		padding: 0.3em 0.6em;
		margin-top: 0;
	}
	.appointment input[type="submit"] {
		margin-left: 0px;
		font-size: 14px;
		padding: .3em .6em;
		letter-spacing: 0px;
	}
	.appointmnet-left, .appointmnet-middle, .appointmnet-right {
		margin-bottom: 10px;
	}
	.inner {
		height: auto;
	}
	.flex-direction-nav .flex-prev {
		left: 8%;
		bottom: 23%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 35px;
		height: 35px;
		top: -12% !important;
		line-height: 2.5em;
	}
	.nbs-flexisel-nav-left {
		left: 5%;
	}
	.contact-left- {
		padding: 20px 10px;
	}
	span.dot1 {
		margin-left: 25px;
	}
	span.dot2 {
		margin-left: 24px;
	}
	span.dot3 {
		margin-left: 26px;
	}
	.ser-info h3 {
		letter-spacing: 0px;
	}
	.line {
		margin: 14px auto 0;
		width: 10%;
	}
	.w3l_banner_info {
		padding-top: 70px;
	}
	
	/*image button */

.imgButton{
    text-align:center;
}

}
/* //responsive-design */


/* Table css stye code from here-*/



   

